{% load static %}

<!doctype html>
<html lang="en">
<head>
    <title>Recommendations user {{userid}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
</head>
<body>
    <h2 class="header">Assignment 6</h2>
    <form action="{% url 'handle_userid_input' %}" method="post">
        {% csrf_token %}
        <div class="content">
            <label for="user_id">Enter user id: </label>
            <input id="user_id" name="user_id" type="number">
            <input type="submit" value="Submit">
        </div>
        <div>
            {{ error_message }}
        </div>
    </form>
</body>
